.main-header {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/background.png");
    padding: 0 6vw;
    box-sizing: border-box;
    background-size: cover;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 12rem;
}

.main-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.main-header li {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1.8vh;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4vw;
}

.main-header li button {
    border: none;
    background: rgba(0, 118, 254, 1);
    border-radius: 1vh;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1.5vh;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    height: 3.75rem;
    width: 10.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.main-header li button img {
    width: 1rem;
}

.main-header h1 {
    margin: 8.6rem 0 0 8.7rem;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 40rem;
}
.main-header p {
    margin: 1.8rem 0 0 8.7rem;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.link-to-demo {
    cursor: pointer;
    background: rgba(255, 230, 0, 1);
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    height: 4.3rem;
    width: 13.7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.8rem 0 0 8.7rem;
    color: black;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 748px) {
    .main-header {
        display: flex;
        flex-direction: column;
    }
    .top-header {
        margin-top: 2vh;
        width: 100%;
    }
    .logo img {
        width: 30vw;
        height: auto;
    }
    .main-header ul li {
        display: none;
    }
    .main-header ul li:last-child {
        display: block;
    }
    .main-header li button {
        width: 39vw;
        height: 8vh;
    }
    .main-header h1 {
        width: auto;
        margin: 5vh 0 0 0;
        font-family: Montserrat;
        font-size: 38px;
        font-weight: 700;
    }
    .main-header p {
        width: 100%;
        margin: 5vh 0 0 0;
        font-size: 15px;
    }
    .link-to-demo {
        margin: 5vh 0 0 0;
        font-size: 13px;
        font-weight: 700;
        height: 9vh;
        width: 45vw;
    }
}
