.catalog-main {
    width: 100%;
    min-height: 88.3vh;
    background: #fafafa;
    display: flex;
    padding: 4.3rem 1.8rem;
    box-sizing: border-box;
    gap: 2.4rem;
}

.car-con {
    width: 100%;
}

.top-car-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.top-point {
    color: #818181;
}

.cars-quantity {
    color: #303030;
}
.search-and-sorting {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.search-and-sorting input {
    width: 21rem;
    outline: none;
    padding: 0.7rem;
    border: none;
    border-radius: 0.65rem;
}

.log-created-date {
    margin-left: 0.6rem;
    cursor: pointer;
    color: #303030;
    padding: 0.7rem;
    background: white;
    border-radius: 0.65rem;
}

.cars-block {
    margin-top: 2rem;
}

@media screen and (max-width: 748px) {
    .catalog-main {
        padding: 2rem 2vw;
        flex-direction: column;
    }

    .top-car-con {
        flex-direction: column;
    }
    .search-and-sorting {
        margin-top: 4vh;
    }
    .search-and-sorting input {
        width: 30vw;
    }
    .log-created-date {
        margin-left: 0rem;
    }
}
