.color-picker {
    display: flex;
    align-items: center;
}

.color-picker span {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #303030;
}
.colors-pattern {
    cursor: pointer;
    overflow: hidden;
    width: 2.27rem;
    height: 2.27rem;
    border-radius: 0.43rem;
    border: 2px solid #4bae4f;
}

.top-pattern {
    display: flex;
}

.first-color {
    background: #ffe600;
    width: 50%;
    height: 1rem;
}
.second-color {
    background: #0075ff;
    width: 50%;
    height: 1rem;
}

.main-color {
    width: 100%;
    height: 50%;
    background: #fafafa;
}
@media screen and (max-width: 748px) {
    .color-picker {
        display: none;
    }
}
